.Task{
  border: 1px solid rgb(221, 221, 221);
  height: 300px;
  width: 200px;
  margin: 20px;
  overflow: hidden;
  padding: 5px;
  border-radius: 10px;
  &-title{
    text-align: center;
    width: 188px;
    display: inline-block;
    word-break: break-all;
  }
  &-text{
    textarea{
      width: 100%;
      height: 300px;
      border: none;
      font-size: 1.6rem;
      resize: none;
      overflow-y: hidden;
    }
    textarea:focus,textarea:active{
      outline: none;
    }

  }
  &-exit{
    text-align: right;
    font-size: 1.8rem;
    font-weight:700;
    display:inline-block;
    position:absolute;
    right:10px;
    cursor:pointer;

  }
  &-exit:hover{
    text-shadow:0px 0px 2px rgb(245, 44, 44);
  }
}
.selectedTask{
  width: 100%;
  position: fixed;
  background: white;
  min-height: 90vh;
  margin-left: -20px;
  margin-top: -65px;
  textarea{
    height: 73vh;
    overflow-y: visible;
  }
  .Task-title{
    margin-top: 25px;
    word-break:normal;
    width: 100%;
    text-align: center;
    padding: 3px;
   h2{
     font-size: 3rem;
   }
  }
      @media(max-height:560px){
      textarea{
        height: 68vh;
        }
    }
    @media(max-height:500px){
      textarea{
        height: 63vh;
        }
    }
    @media(max-height:400px){
      textarea{
        height: 58vh;
        }
    }
        @media(max-height:350px){
      textarea{
        height: 205px;
        }
    }
}
.none{
  display: none;
}
.overflowHidden{
  overflow: hidden;
}