
.Nav-projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &-btnAdd {
    cursor: pointer;
    font-size: 3rem;
    margin-left: 10px;
  }
  &-project {
    font-size: 1.8rem;
    padding: 5px 10px;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
  }
}
.bgColor{
  background:#6CC6CB
}